@import "style.css";

/* Navbar */
.navbar {
  font-size: var(--navbar-fs);
}

.container-fluid .navbar-brand:hover,
.navbar-nav .nav-item .nav-link:hover {
  color: cornflowerblue;
}

/* Welcome */
.welcome {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--background-height);
}

.welcome h1 {
  font-family: "Babylonica", cursive;
  font-size: var(--welcome-h1-fs);
}

.welcome span {
  font-size: var(--welcome-span-fs);
}

.welcome a {
  font-size: var(--welcome-i-fs);
  color: white;
}

.welcome a:hover {
  color: cornflowerblue;
}

/* Content */
.content {
  height: 100%;
}

.content h1 {
  font-family: "Babylonica", cursive;
  font-size: var(--content-h1-fs);
}

/* Arrow */
#arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: auto;
}

#arrow a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: cornflowerblue;
}

.btnEntry {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntry;
}

@keyframes btnEntry {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

.btnExit {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@media screen and (max-width: 992px) {
  .welcome h1 {
    font-family: "Babylonica", cursive;
    font-size: var(--welcome-h1-fs-sm);
  }

  .welcome span {
    font-size: var(--welcome-span-fs-sm);
  }
}

@media screen and (max-width: 576px) {
  .welcome h1 {
    font-family: "Babylonica", cursive;
    font-size: var(--welcome-h1-fs-sm);
  }

  .welcome span {
    font-size: var(--welcome-span-fs-sm);
  }
}
