@import "style.css";

.login {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--login-height);
}

.login span {
  color: white;
}

span a {
  text-decoration: none;
}
