@import "style.css";

.registration {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--registration-height);
}

.registration span,
.registration label {
  color: white;
}

span a {
  text-decoration: none;
}
