@import "style.css";

.registration {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: var(--min-height);
}

.registration h1 {
  font-family: "Babylonica", cursive;
  font-size: var(--welcome-h1-fs);
}

.registration span,
.registration label {
  color: white;
}

span a {
  text-decoration: none;
}

input {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}

input::placeholder {
  color: rgb(255, 255, 255);
}

input:focus {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 992px) {
  .registration h1 {
    font-family: "Babylonica", cursive;
    font-size: var(--welcome-h1-fs-sm);
  }

  .registration span {
    font-size: var(--welcome-span-fs-sm);
  }
}

@media screen and (max-width: 576px) {
  .registration h1 {
    font-family: "Babylonica", cursive;
    font-size: var(--welcome-h1-fs-sm);
  }

  .registration span {
    font-size: var(--welcome-span-fs-sm);
  }
}
