@import "style.css";

.shopping-cart {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: var(--min-height);
}

.icon {
  width: 50px;
  height: 50px;
}

.icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 100%;
}

.card img {
  height: 200px;
  object-fit: cover;
}
