@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Montserrat:ital,wght@0,400;1,300&display=swap");

:root {
  --navbar-fs: 15px;
  --background-image: url("../img/background-1.jpg");
  --background-height: 750px;
  --welcome-h1-fs: 150px;
  --welcome-span-fs: 20px;
  --welcome-i-fs: 35px;
  --welcome-h1-fs-sm: 100px;
  --welcome-span-fs-sm: 15px;
  --welcome-i-fs-sm: 20px;
  --content-h1-fs: 60px;
  --footer-fs: 10px;
  --footer-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100vh;
}
